<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>pe.edu.upeu.oracle.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>pe.edu.upeu.oracle.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>pe.edu.upeu.oracle.controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstudianteController</servlet-name>
        <servlet-class>pe.edu.upeu.oracle.controller.EstudianteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccesoController</servlet-name>
        <servlet-class>pe.edu.upeu.oracle.controller.AccesoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaController</servlet-name>
        <servlet-class>pe.edu.upeu.oracle.controller.PersonaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteController</servlet-name>
        <servlet-class>pe.edu.upeu.oracle.controller.ReporteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/lc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstudianteController</servlet-name>
        <url-pattern>/estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccesoController</servlet-name>
        <url-pattern>/acceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaController</servlet-name>
        <url-pattern>/persona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteController</servlet-name>
        <url-pattern>/reporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
